@page "/"
@using BlazorApp.Shared
@inject HttpClient Http

<BlazorApp.Client.Components.TitleComponent TitleText="Global Azure Spain 2023" SubTitleText="¿Cómo estan los máquinas?" />

<div class="p-6 text-black flex border border-gray-900 justify-between items-center rounded bg-indigo-300 rotate-2 mt-12">
    <p class="text-base">This conference is one of the best!  </p>
    <button class="p-2 border border-white hover:bg-indigo-600">Like the Global Azure Spain 2023</button>
</div>