@page "/"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Global Azure Spain 2023</h1>

<h3>¿Cómo estan los máquinas?</h3>

<div>
    <p>This conference is one of the best!</p>
    <button>Like the Global Azure Spain 2023</button>
</div>