@page "/speakers"
@using BlazorApp.Shared
@inject HttpClient Http

<h1>Speakers</h1>

@if (speakers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach (var speaker in speakers)
        {
            <div>
                <img src="@speaker.Image">

                <div>
                    <span>
                        @speaker.Name
                    </span>
                    <span>@speaker.Tag</span>
                </div>
            </div>
        }
    </div>
}

@code {
    private Speaker[] speakers = new Speaker[] { };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            speakers = await Http.GetFromJsonAsync<Speaker[]>("/api/Speakers") ?? new Speaker[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
