@using BlazorApp.Shared;

<div class="flex mb-2 p-2 border border-slate-800 rounded-lg transition cursor-pointer duration-300 hover:-translate-y-1 hover:border-2 hover:scale-110 hover:bg-gradient-to-r hover:from-pink-400 hover:to-indigo-400 group">
    <img class="object-cover h-24 rounded-lg" src="@Person.Image  ">

    <div class="flex flex-col mx-6">
        <span class="text-xl mb-2 font-semibold group-hover:text-white dark:text-white">
            @Person.Name
        </span>
        <span class="text-sm text-gray-500 group-hover:text-white dark:text-white">@Person.Tag</span>
    </div>
</div>

@code {
    [Parameter]
    public Speaker Person { get; set; } = new();

}
